{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}


<div class="mainContainer">
    
    <h2>Welcome Hospital</h2>
    <div class ="btns">
        <a href="*"><button type="button" id="sign-up">Function1</button></a>
        <div class="dropdown">
            <button class="dropbtn">Other</button>
            <div class="dropdown-content">
            <a href="*">A1</a>
            <a href="*">A2</a>
            </div>
        </div>
        <a href="logout"><button type="button" id="sign-up">Logout</button></a>
    </div>
</div>

{% endblock %}