{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}


<div class="mainContainer">
    
    <table class="table">
        <tr>
          <th>User</th>
          <th>User-Phone</th>
          <th>User-status</th>
          <th>Check-In Time</th>
          <th>Checkout Time</th>
        </tr>
        {%for visit in visits%}
        {%if visit.place.email == current_user.email%}
        <tr>
          <td>{{visit.user.name}}</td>
          <td>{{visit.user.phoneNumber}}</td>
          <td>{{visit.user.infected}}</td>
          <td>{{visit.entryTime}}</td>
          <td>{{visit.exitTime}}</td>
        </tr>
        {%endif%}
        {%endfor%}
      </table>
</div>

{% endblock %}