{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}


<div class="row justify-content-center">
    <div class="col-sm-4 bg-light text-dark">
        <div class="card-body text-center">
            <h5 class="card-title">Let us know where you are visisiting</h5>
                <p></p>
            <form method = "post" action="">
                {{form.hidden_tag()}}
                {{form.placeEmail(class = input,placeholder = "Enter place email manually")}}
                <div class ="btns">
                    {{form.SubmitField(class = "btn btn-primary")}}
                </div>
                
                
            </form>
            
            </div>
    </div>

{% endblock %}